

<div class="w-full h-full min-w-[250px] sm:min-w-[500px] min-h-[500px] flex flex-col">
  <h2 mat-dialog-title class=>Title</h2>
  <div class="p-4 flex flex-col w-full sm:w-min">
    <img [ngStyle]="{'width' : 'fit-content'}" class="w-full sm:max-w-[400px]" [src]="data.item.image" alt="image">
    <span class="text-justify mt-2 w-full sm:w-[400px]">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
  </div>
</div>
