<div class="main-search-container w-full flex flex-col items-center">
  <div class="flex flex-col">
    <span class="text-3xl font-bold">
      Buscador flickr
    </span>
    <mat-form-field class="example-form-field">
      <mat-label>Busqueda</mat-label>
      <input matInput type="text" [(ngModel)]="value">
      @if (value) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
    <button mat-raised-button>Buscar</button>
  </div>
</div>

