<div class="main-search-container w-full h-full flex flex-col items-center">
  <div class="shadow-md bg-slate-100 w-[80%] min-h-[600px] rounded-xl">
    <span class="text-2xl sm:text-3xl font-bold flex my-[25px] justify-self-center">
      Buscador de <span class="text-[#0063db] ml-[5px]">flick</span><span class="text-[#ff0084]">r</span>
    </span>
    <div class="w-full flex flex-col px-4">
        <mat-form-field matTooltipPosition="above" matTooltip="Ingresa los tag separados por comas: perro, gato, ..."  class="w-full max-w-[300px] md:max-w-[400px] self-center">
          <mat-label>Busqueda</mat-label>
          <input matInput type="text" [(ngModel)]="value" (keydown.enter)="startSearch()">
          @if (value) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="value=''; searchCompleted=false">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
        <button class="self-center max-w-[120px] h-[40px] w-full" mat-raised-button color="primary" (click)="startSearch()">Buscar</button>
    </div>
    <div class="flex flex-wrap w-full max-w-[1100px] mt-6 gap-[10px] p-[20px] justify-center justify-self-center">
      <ng-container *ngIf="!isLoading ; else loader">
        <ng-container *ngIf="searchCompleted && flickrFeed?.length === 0">
          <span class="text-2xl font-bold mt-12">{{msg}}</span>
        </ng-container>
        <img class="img-cont drop-shadow-md object-cover" *ngFor="let item of flickrFeed" [src]="item.image" alt="image" (click)="openDialog(item)" [matTooltip]="item.title" matTooltipPosition="above">
      </ng-container>

    </div>
  </div>

</div>

<ng-template #loader>
  <div class="w-full flex justify-center mt-24">
    <mat-spinner class="h-[120px] w-[120px]"></mat-spinner>
  </div>
</ng-template>

